*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
    scroll-behavior:smooth;
}
::-webkit-scrollbar {

    width: 15px;
    height: 8px;
    background: #F5F7F6;
    border: 1px solid;
    border-radius: 9em;
    border-color: rgba(243, 169, 248, 0.66) rgba(243, 169, 248, 0.66) rgba(254, 189, 171, 0.74) rgba(243, 169, 248, 0.66);
}
::-webkit-scrollbar-thumb {
    background-color: #FE9013;;
    border-radius: 9em;
}

.container {
    width: 1600px;
    margin: 0 auto;
    box-sizing: content-box;
    align-items: center;

}
.header{
    position: absolute;
    background: black;
    width: 1600px;
    height: 80px;
    z-index: 2;
}
.logo{
    position: absolute;
    width: 82px;
    height: 52px;
    left: 220px;
    top: 14px;
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
}

.logo h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
}
.logo h1 a{
    text-decoration: none;
    color: #FFFFFF;
}
.menu{
    position: absolute;
    width: 530px;
    height: 30px;
    margin-left: 365px;
    top: 29px;
}

.menu-list{
    display: flex;
    gap: 59px;
}
.menu-list li a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
}

.menu-list li a:hover{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}
.logo h1:hover{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}
.watch_your_favorite_animal_online{
    position: absolute;
    height: 780px;
    width: 1600px;
    background-image: url("/assets/images/mainPanda.png");
    z-index: 1;

}
.eclipse{
    position: absolute;
    width: 465px;
    height: 465px;
    left: calc(50% - 465px/2 + 239.5px);
    top: 92px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    z-index: 2;
}

.watch_title{
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 106px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    font-stretch: normal;
    z-index: 2;
    color: #FFFFFF;
}
.watch_title span{
    color: #FFEE2E;
}

.watch_btn{
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;
    padding-top: 16px;
    padding-left: 5px;
    background: #F9804B;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    z-index: 2;
}

.watch_btn:hover{
    background:#4B9200;
    transition-duration: 0.7s;
}

.theBackstage{
    position: absolute;
    top: 780px;
    width: 1600px;
    height: 680px;
}
.theBackstage_content{
    position: absolute;
    width: 1161px;
    height: 403px;
    top: 140px;
    left: 219px;
    background-color: #FFFFFF;
}
.backstage_img{
    position: absolute;
    width: 609px;
    height: 403px;
    left: 0;
    top: 0;
    background-image: url("/assets/images/bamboo-cap.png");
    z-index: 3;
}
.backstage_title{
    position: absolute;
    width: 552px;
    height: 403px;
    right: 0;
    padding-left: 86px;
}
.backstage_title h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 20px;
}
.first_title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    margin-bottom: 55px;

}
.backstage_title h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 34px;
}
.second_title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}
.backstage_flowers{
    position: absolute;
    right: 0;
    width: 200px;
    top: 10px;
    height: 605px;
    background-image: url("/assets/images/flower_foto1.svg");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.pets{
    position: absolute;
    width: 1600px;
    height: 1147px;
    top: 1461px;

}

.pet_content{
    position: absolute;
    width: 1321px;
    height: 877px;
    top: 40px;
    left: 138px;
    display: flex;
    align-items: center;
}
.card_section{
    display: flex;
    flex-wrap: wrap;
    height: 877px;
    width: 1158px;
    margin: 0 auto;
    justify-content: space-between;
}

.pet_card {
    box-sizing: border-box;
    width: 366px;
    height: 426px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #FA6F32;
}
.pet_margin{
    margin-bottom: 18px;
}
.main_pet_img{
    width: 364px;
    height: 366px;
    left: 0;
    border-radius: 5px;
}
.pet_card h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
    margin: 4px 0 0 16px;
    width: 250px;

}
.pet_card p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
    margin: -3px 0 0 16px;
    width: 250px;
}
.card_icon{
    position: relative;
    margin-left: 318px;
    top: -37px;
}

.meet{
    position: relative;
    right: 8px;
}
.arrow-left{
    position: absolute;
    width: 62px;
    height: 62px;
    left: 0;
    border-radius: 100px;
    background: #FE9013;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-right{
    position: absolute;
    width: 62px;
    height: 62px;
    right: 0;
    border-radius: 100px;
    background: #FE9013;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-left:hover{
    background:#4B9200;
    transition-duration: 0.7s;
}
.arrow-right:hover{
    background:#4B9200;
    transition-duration: 0.7s;
}
.palm{
    position: absolute;
    width: 880px;
    height: 460px;
    top: 687px;
    background: url("/assets/images/palm_foto.svg") no-repeat;
}
.strelitzia{
    position: absolute;
    width: 368px;
    height: 275px;
    top: 873px;
    background: url("/assets/images/strelitzia 1.svg");
    right: 0;
}

.choose_btn{
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2);
    top: 995px;
    background: #FE9013;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}

.choose_btn:hover{
    background:#4B9200;
    transition-duration: 0.7s;
}

.pick_and_feed_a_friend{
    position: absolute;
    width: 1600px;
    height: 1004px;
    top: 2608px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.pick_content{
    position: absolute;
    width: 1160px;
    height: 835px;
    left: 220px;
    top: 69px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.pick_content h2{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    top: 41px;
    left: 350px;
    color: #FE9013;
}

.pick_p_first{
    position: absolute;
    top: 130px;
    left: 97px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}
.pick_p_second{
    position: absolute;
    top: 200px;
    left: 99px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;

}
.pick_p_third{
    position: absolute;
    top: 230px;
    left: 99px;
    width: 880px;
    height: 42px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}
.pick_p_third a{
    color: #333B41;
    text-decoration: none;
    border-bottom: 2px #FE9013 solid;

}
.how_it_works{
    position: absolute;
    left: 475px;
    top: 331px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}
.how_card_section{
    position: absolute;
    display: flex;
    width: 770px;
    height: 360px;
    top: 418px;
    left: 195px;
    margin: 0 auto;
    justify-content: space-between;
}

.how_card_first{
    width: 168px;
    height: 244px;
}
.how_card_second{
    width: 168px;
    height: 244px;
}
.how_card_third{
    width: 168px;
    height: 244px;
}
.how_first_img, .how_second_img, .how_third_img{
    box-sizing: border-box;
    width: 168px;
    height: 168px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #FA6F32;
    display: flex;
    justify-content: center;
    align-items: center;
}
.how_card_first p, .how_card_second p, .how_card_third p{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}
.arrow{
    margin-top: 63px;
    width: 69px;
    height: 35px;
}
.btn_feed{
    position: absolute;
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 25px;
    bottom: 0;
    left: 235px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    padding-top: 15px;
}
.btn_feed:hover{
    background:#4B9200;
    transition-duration: 0.7s;
}
.testimonials{
    position: absolute;
    width: 1600px;
    height: 1004px;
    top: 3612px;
}

.testimonials_content {
    position: absolute;
    width: 1165px;
    height: 599px;
    left: 217px;
    top: 142px;
}
.testimonials_content h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;

}
.testimonials_card{
    position: absolute;
    display: flex;
    width: 1195px;
    height: 441px;
    top: 92px;
    justify-content: space-between;

}

.testimonials_card_first,
.testimonials_card_second,
.testimonials_card_third,
.testimonials_card_fourth{
    box-sizing: border-box;
    width: 268px;
    height: 391px;
    background: #F1F3F2;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(254, 189, 171, 0.74) rgba(243, 169, 248, 0.66) rgba(254, 189, 171, 0.74) rgba(243, 169, 248, 0.66);
}
.testimonials_card_first img,
.testimonials_card_second img,
.testimonials_card_third img,
.testimonials_card_fourth img{
    position: relative;
    width: 37px;
    height: 37px;
    left: 16px;
    top: 15px;
}
.testimonials_card_first h3,
.testimonials_card_second h3,
.testimonials_card_third h3,
.testimonials_card_fourth h3{
    position: relative;
    left: 65px;
    margin-top: -25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}
.testimonials_card_first span,
.testimonials_card_second span,
.testimonials_card_third span,
.testimonials_card_fourth span{
    position: relative;
    left: 65px;
    margin-top: -25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}
.testimonials_card_first p,
.testimonials_card_second p,
.testimonials_card_third p,
.testimonials_card_fourth p{
    position: relative;
    width: 238px;
    height: 309px;
    left: 16px;
    top: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
}
.scroll input {
    position: absolute;
    bottom: 20px;
    left: 282px;
    width: 599px;
    height: 8px;
}
.scroll input[type=range]::-webkit-slider-runnable-track {

    background-color: #F5F7F6;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(254, 189, 171, 0.74) rgba(243, 169, 248, 0.66) rgba(254, 189, 171, 0.74) rgba(243, 169, 248, 0.66);;
}
input[type=range] {
    -webkit-appearance: none;
}
.scroll_point::-webkit-slider-thumb{
    appearance: none;
    width: 115px;
    height: 5px;
    background: #FE9013;
    border-radius: 5px;
    cursor: pointer;
}
.leave_feedback_btn{
    position: absolute;
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 5px;
    bottom: 0;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
}

.leave_feedback_btn:hover{
    background:#4B9200;
    transition-duration: 0.7s;
}

.leav_foto{
    position: absolute;
    width: 247px;
    height: 408px;
    right: 0;
    top: 645px;
    background-image: url("/assets/images/leav_foto.svg");
}
.footer{
    position: relative;
    width: 1600px;
    height: 443px;
    top: 4531px;
    background-color: black;
}

.first_foot_section{
    position: absolute;
    width: 583px;
    height: 443px;
    left: 0;
}

.second_foot_section{
    position: absolute;
    width: 604px;
    height: 443px;
    left: 583px;
}

.third_foot_section{
    position: absolute;
    width: 604px;
    height: 443px;
    right: 0;
}
.footer_logo{
    position: absolute;
    width: 82px;
    height: 52px;
    left: 220px;
    top: 41px;
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
}

.footer_logo h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
}
.footer_logo h1 a{
    text-decoration: none;
    color: #FFFFFF;
}

.footer_btn{
    position: absolute;
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 162px;
    left: 220px;
}
.footer_btn:hover{
    background:#4B9200;
    transition-duration: 0.7s;
}
.social {
    position: absolute;
    width: 113px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 220px;
    top: 259px;
}
.social img{
    width: 111px;
    height: 26px;
}
.twitter{
    position: relative;
    margin-left: -10px;
}
.youtube{
    position: relative;
    margin-left: -5px;
}

.footer_nav_list{
    position: absolute;
    width: 365px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    top: 372px;
    left: 35px;
}

.footer_nav_list li a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}
.footer_nav_list li a:hover{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.footer_subscribe{
    position: relative;
    left: 16px;
    top: 41px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}
.email_input{
    position: relative;
    width: 228px;
    height: 42px;
    top: 54px;
    left: 18px;
    background-color: black;
    border: 2px solid;
    border-color: rgba(249, 128, 75, 1);
    border-radius: 2px;
}
.email_input placeholder{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
}